.navbar{
    background-color: rgba(162, 226, 223, 0.397);
    width: 100%;
    height: max-content;
}

.logo{
    border-radius: 23px;
    width: 4.5rem;
    height: 4.5rem;
}

.btn{
    border-radius: 28px;
    
}

.btn:hover{
    font-weight: bolder;
}

.form-control.me-2{
    color: gray;
}

footer{
    background-color: rgba(162, 226, 223, 0.397);
    font-weight: 500;
}